.logo-container {
    display: flex;
    align-items: center;
    margin-left: 1.3rem;
  }
  
  .icon-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  

  .sun {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7);
  }
  

  .cloud {
    position: absolute;
    width: 45px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    top: 25px;
    left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .app-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  